!!!
%html
  %head
    %title GCamp
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %nav.navbar.navbar-inverse.navbar-fixed-top
      .container
        %a{:href=>'/'}
          %h1.brand gCamp
          %h2= sam
    = yield

    .footer.navbar-fixed-bottom.navbar
      .container
        .foot
          %a{:href=>'/about'} About
          %span
          |
          %a{:href=>'/terms'} Terms
          %span
          |
          %a{:href=>'/faq'} FAQ
          .right
            %a{:href=>'https://www.linkedin.com/'}
              =image_tag 'linkedin.jpg'
            %a{:href=>'https://www.twitter.com/'}
              =image_tag 'twitter.png'
            %a{:href=>'https://www.github.com/'}
              =image_tag 'github.png'
            %a{:href=>'https://www.galvanize.com/'}
              =image_tag 'galvanize.png'
